<div class = "jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h6>YouthCARE Minnesota</h6>
      <p>2701 University Avenue SE, Suite 205</p>
      <p>Minneaplis, MN 55414</p>
      <p>612.338.1233</p>
      <p>info@YouthCAREmn.org</p>
    </div>
    <div class="col-md-6 well">
        <h3>Newsletter Sign Up</h3>
        <form>
          <div class="form-group">
            <input type="text" class = "form-control" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class = "form-control" placeholder="Email">
          </div>
          <button type="sumbit" class = "btn btn-primary">Sign Up</button>
        </form>
    </div>
  </div>


</div>
