<div id="container">
  <img src="../../images/CampSunrise_banner.jpg" class="images" alt="Camp Sunrise">
  <p class="heading-text">CAMP SUNRISE</p>
</div>

<div class="program-text">
  <img src="../../images/CampSunriseLogo.jpeg" class="images sunrise-logo" alt="Camp Sunrise Logo">
  <h2 class="heading-left">About the Program</h2>
  <p>Text here</p>
  <p>More text</p>
  <button class="button">APPLY FOR STAFF</button>
</div>

<div id="container">
  <img src="../../images/slide1.jpg" class="images" alt="Campers rowing across a river in canoes.">
  <div class="demographic-text">
    <h2 class="image-text-title">Demographic Information</h2>
  </div>
</div>

<div class="spacer">
  <p class="spacer-campSunrise">A crew (8 campers 13-18 years old and 2 adult leaders) in the last strech of their three-day canoe trip on the St. Croix River.</p>
</div>

<div class="program-text">
  <h2 class="heading-center">Awards and Recognition</h2>
  <p>In addition to numerouse media feature, Camp Sunrise has recieved significant recognition for its impact on the community over the years.</p>
  <div class="list">
    <li>"You can be yourself"</li>
    <li>"Meet new people"</li>
    <li>"The people are welcoming"</li>
    <li>"College visits"</li>
  </div>
</div>
