<div id="container">
  <img src="../../images/History_banner.jpg" class="images" alt="History">
  <p class="heading-text">HISTORY</p>
</div>
<div id="image-container">
  <div id="container">
    <img src="../../images/slide3.jpg" class="images" alt="Camp Sunrise">
    <p class="image-text">Camp Sunrise</p>
  </div>
  <div id="container">
    <img src="../../images/slide1.jpg" class="images" alt="YouthLEAD Program">
    <p class="image-text">YouthLEAD Program</p>
  </div>
  <div id="container">
    <img src="../../images/slide2.jpg" class="images" alt="Young Womens Mentoring Program">
    <p class="image-text">Young Womens Mentoring Program</p>
  </div>
</div>
<div class="timeline-container">
  <ul class="timeline">
    <li class="timeline-item">
      <div class="item-title">1974</div>
      <div class="item-detail">YouthCARE was started as the Wilderness Work Camp, a summer work and camp program for youth working in the Twin Cities summer youth employment programs.</div>
    </li>
    <li class="timeline-item">
      <div class="item-title">1977</div>
      <div class="item-detail">In 1977 the name was changed to Camp Sunrise and we initiated the YouthLEAD program to meet the school year needs of the youth involved in the summer program.</div>
    </li>
    <li class="timeline-item">
      <div class="item-title">1990</div>
      <div class="item-detail">In 1990, the Youth Womens Mentoring Program was established to provide opportunities for you women to gain meaningful employment opportunities and develop their leadership skills as they mentored younger girls.</div>
    </li>
    <li class="timeline-item">
      <div class="item-title">1993</div>
      <div class="item-detail">In 1993, the oranizations name was changed from Camp Sunrise to YouthCARE (Youth for Cultural Appreciation and Racial Equality) in order to more accurately reflect the organizations commitment to cultral appreciation and racial equality.</div>
    </li>
  </ul>
</div>
