<div id="container">
  <img src="../../images/YouthLEADProgram_banner.jpg" class="images" alt="YouthLEAD Program">
  <p class="heading-text">YouthLEAD PROGRAM</p>
</div>

<div class="program-text">
  <h2 class="heading-left">About the Program</h2>
  <p>Text here</p>
  <button class="button">GET INVOLVED</button>
</div>

<div id="container">
  <img src="../../images/slide3.jpg" class="images" alt="Camp Sunrise">
</div>

<div class="spacer">
  <p class="spacer-youthLEAD">The Community Service Stars component of YouthLEAD employs youth part time to address community needs with local nonprofit organizations while developing employment and financial literacy skills.</p>
</div>

<div class="program-text">
  <h2 class="heading-center">Program Impact</h2>
  <p>At the end of the 2014-15 program year, YouthCARE staff asked YouthLEAD participants, "What do you like best about YouthCARE?" Below are some of the responses:</p>
  <ul class="list">
    <li>"You can be yourself"</li>
    <li>"Meet new people"</li>
    <li>"The people are welcoming"</li>
    <li>"College visits"</li>
  </ul>
</div>
